<!DOCTYPE html>
<html lang="en">

<head></head>

<body>
    <h1>Hi, I am <%= user.firstName %>, I'm <%= user.age%>
    </h1>
    <button onclick="image()" type="button" value="Load new document">Download</button>
</body>
<script>
    function image() {
        window.location.assign("https://i.pinimg.com/564x/44/48/e7/4448e7efc90286a8dff112211dea9750.jpg")
    }
</script>

</html>